<div class="tabs">
  <div class="tab1 px-5">
    <mat-tab-group>
      <mat-tab label="Home">
        <div class="body">
          <div class="title">Home Content</div>
          <div class="para">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. At aperiam
            omnis ad expedita quidem, dolores eveniet mollitia amet officiis
            eos! Sequi, voluptates. Eos distinctio dignissimos cumque enim rerum
            harum, neque illo blanditiis tempore quam. Similique ad
            necessitatibus laudantium? Doloremque voluptatum, itaque optio
            consequatur explicabo est. Enim assumenda quis nostrum fuga!
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Profile">
        <div class="body">
          <div class="title">Profile Content</div>
          <div class="para">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. At aperiam
            omnis ad expedita quidem, dolores eveniet mollitia amet officiis
            eos! Sequi, voluptates. Eos distinctio dignissimos cumque enim rerum
            harum, neque illo blanditiis tempore quam. Similique ad
            necessitatibus laudantium? Doloremque voluptatum, itaque optio
            consequatur explicabo est. Enim assumenda quis nostrum fuga!
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Messages">
        <div class="body">
          <div class="title">Messages Content</div>
          <div class="para">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. At aperiam
            omnis ad expedita quidem, dolores eveniet mollitia amet officiis
            eos! Sequi, voluptates. Eos distinctio dignissimos cumque enim rerum
            harum, neque illo blanditiis tempore quam. Similique ad
            necessitatibus laudantium? Doloremque voluptatum, itaque optio
            consequatur explicabo est. Enim assumenda quis nostrum fuga!
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Setting">
        <div class="body">
          <div class="title">Setting Content</div>
          <div class="para">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. At aperiam
            omnis ad expedita quidem, dolores eveniet mollitia amet officiis
            eos! Sequi, voluptates. Eos distinctio dignissimos cumque enim rerum
            harum, neque illo blanditiis tempore quam. Similique ad
            necessitatibus laudantium? Doloremque voluptatum, itaque optio
            consequatur explicabo est. Enim assumenda quis nostrum fuga!
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="tab2 p-5">
    <mat-tab-group>
      <mat-tab label="HTML">
        <div class="body">
          <div class="title">HTML Content</div>
          <div class="para">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. At aperiam
            omnis ad expedita quidem, dolores eveniet mollitia amet officiis
            eos! Sequi, voluptates. Eos distinctio dignissimos cumque enim rerum
            harum, neque illo blanditiis tempore quam. Similique ad
            necessitatibus laudantium? Doloremque voluptatum, itaque optio
            consequatur explicabo est. Enim assumenda quis nostrum fuga!
          </div>
        </div>
      </mat-tab>
      <mat-tab label="CSS">
        <div class="body">
          <div class="title">CSS Content</div>
          <div class="para">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. At aperiam
            omnis ad expedita quidem, dolores eveniet mollitia amet officiis
            eos! Sequi, voluptates. Eos distinctio dignissimos cumque enim rerum
            harum, neque illo blanditiis tempore quam. Similique ad
            necessitatibus laudantium? Doloremque voluptatum, itaque optio
            consequatur explicabo est. Enim assumenda quis nostrum fuga!
          </div>
        </div>
      </mat-tab>
      <mat-tab label="JS">
        <div class="body">
          <div class="title">JavaScript Content</div>
          <div class="para">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. At aperiam
            omnis ad expedita quidem, dolores eveniet mollitia amet officiis
            eos! Sequi, voluptates. Eos distinctio dignissimos cumque enim rerum
            harum, neque illo blanditiis tempore quam. Similique ad
            necessitatibus laudantium? Doloremque voluptatum, itaque optio
            consequatur explicabo est. Enim assumenda quis nostrum fuga!
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
