@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700&display=swap");

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Sora", sans-serif;
}
body::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(128, 128, 128);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3266f562;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3266f5c8;
}
