.top-bar {
  display: flex;
}
::placeholder {
  font-family: "Sora", sans-serif;
  font-size: 1rem;
}
::ng-deep .top-bar .travels .mat-mdc-form-field-bottom-align::before,
::ng-deep .top-bar .search .mat-mdc-form-field-bottom-align::before {
  content: none !important;
}
::ng-deep
  .top-bar
  .travels
  .mat-mdc-text-field-wrapper:not(.mdc-text-field--outlined)
  .mat-mdc-form-field-infix,
::ng-deep
  .top-bar
  .search
  .mat-mdc-text-field-wrapper:not(.mdc-text-field--outlined)
  .mat-mdc-form-field-infix {
  padding-top: 14px !important;
}
::ng-deep
  .top-bar
  .travels
  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: transparent !important;
}
::ng-deep .top-bar .travels .mdc-line-ripple::before,
.mdc-line-ripple::after {
  border-bottom-style: none !important;
}
::ng-deep .top-bar .travels .mat-mdc-select {
  width: 80% !important;
}

::ng-deep
  .top-bar
  .travels
  .mat-mdc-form-field:not(.mat-form-field-disabled)
  .mat-mdc-floating-label.mdc-floating-label {
  color: #27292c !important;
}

::ng-deep .top-bar .travels .mat-mdc-form-field-focus-overlay {
  background-color: transparent !important;
}

.top-bar .search input {
  border: none;
  outline: none;
  width: 100%;
  background-color: transparent !important;
}
.top-bar .search {
  width: 100% !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Sora", sans-serif;
}
::ng-deep .top-bar .search .mat-mdc-form-field {
  width: 100% !important;
}
